<nav class="navbar navbar-light bg-light justify-content-between p-0 navigation-bar">

    <a class="navbar-brand px-2 d-flex gap-3 align-items-center" href="https://www.gtnewhorizons.com/">
        <img src="../../../assets/images/12788076.png" alt="GTNH logo" height="50px">
        <span>GTNH Open Computers Documentation</span>
    </a>
  
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav mr-auto flex-row px-4">
        <li class="nav-item navigation-element">
          <a [href]="websiteUrl" target="_blank" class="nav-link">Web</a>
        </li>
        <li class="nav-item navigation-element">
          <a [href]="discordUrl" target="_blank" class="nav-link">Discord </a>
        </li>
        <li class="nav-item navigation-element">
          <a [href]="githubUrl" target="_blank" class="nav-link">Original Github</a>
        </li>
        <li class="nav-item px-2">
          <span class="version-number">beta-v0.4</span>
        </li>
      </ul>
    </div>
  </nav>