---
import TopMenu from "@/components/ui/TopMenu.astro";
import Landing from "@/components/sections/Landing.astro";
import Languages from "@/components/sections/Languages.astro";
import Projects from "@/components/sections/Projects.astro";
import Experience from "@/components/sections/Experience.astro";
---

<div class="main-wrapper">
  <TopMenu />
  <Landing />
  <Languages />
  <Projects />
  <Experience />
</div>

<style lang="scss">
  .main-wrapper {
    min-height: 100vh;
    width: 100%;
  }
</style>
