---
import TopMenu from "@/components/ui/TopMenu.astro";
import Landing from "@/components/sections/Landing.astro";
import Languages from "@/components/sections/Languages.astro";
---

<div class="container">
  <TopMenu />
  <Landing />
  <Languages />
</div>

<style lang="scss">
  .container {
    min-height: 100vh;
    min-width: 100vw;

    overflow-x: hidden;
    
  }
</style>
