---
import TopMenu from "@/components/TopMenu.astro";
import Details from "@/components/Details.astro";
import UnderConstruction from "./UnderConstruction.astro";
---

<div class="container">
    <UnderConstruction />
</div>

<style>
.container {
	min-height: 100vh;
    min-width: 100vw;
}
</style>