---
import MainComponent from "@/components/MainComponent.astro";
import TopMenu from "@/components/TopMenu.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>David Beltrán Esperilla</title>
		<meta lang="en"/>
		<meta name="author" content="David Beltrán Esperilla - davidbelesp"/>
		<meta name="robots" content="all"/>
		<!-- Open Graph -->
		<meta name="og:title" content="David Beltrán Esperilla - Developer Portfolio"/>
		<meta name="og:description" content="David Beltrán Esperilla - Developer Portfolio"/>
		<meta name="og:type" content="website"/>
		<meta name="og:url" content="https://davidbelesp.com"/>
		<meta name="twitter:card" content="summary"/>
		
		<meta name="description" content="David Beltrán Esperilla - Developer Portfolio">
		<meta name="keywords" content="Portfolio, Developer, David Beltrán Esperilla, davidbelesp, "/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>
		<MainComponent />
	</body>
</html>

<style is:global>
	@import "../styles/global.css";
</style>
