:root{

    --bg-color: rgb(174, 216, 255);
    --bg-color2: rgb(130, 170, 212);
    --border-color: rgb(130, 170, 212);
    --name-color: black
}

.content {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-auto-rows: minmax(70px, auto);

}

/* SIDEBAR STYLES */

.sidebar{
    background: var(--bg-color);

    grid-column: 1;
    grid-row: 1/11;

    border: 1px solid var(--border-color);
}

/* UPPER MENU STYLES */

.menu{
    background: var(--bg-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    grid-column: 2/31;
    grid-row: 1;

    border-bottom: 1px solid var(--border-color);
}.name{

    padding: 10px;

    font-size: 2rem;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;

}.name > p{

    margin: 0;
    padding: 0;

}.contact-button{

    background: var(--bg-color2);
    width: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-color);
    font-size: 2rem;

}


/* MAIN STYLES */

.main{
    background: var(--bg-color);

    grid-column: 2/31;
    grid-row: 2/11;

    /* TEMP */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}


/* MEDIA QUERY */

@media (max-width: 700px) {
    .sidebar{
        grid-column: -1;
        grid-row: 1/11;
    }
    .main{
        grid-column: 1/31;
        grid-row: 2/11;
    }
    .menu{
        grid-column: 1/31;
        grid-row: 1;
    }
}