@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.separator{
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    margin: 20px 0;
}

.element-title{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.sub-category{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.name-field{
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    font-family: "Source Code Pro", monospace;
    font-size: .8rem;
    border: 2px solid #85f3a7;
    border-radius: 10px;
    padding: 10px 20px;

    &.copy-icon{

        cursor: pointer;
        background: #333;
    }

}

.element-description{
    font-size: 1rem;
    margin-bottom: 10px;
}

.parameter{
    display: flex;

    border: 1px solid #e0e0e0;
    height: fit-content;
    border-radius: 7px;
    overflow: hidden;
    width: fit-content;
}

.param-slot{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    border: 1px solid #e0e0e0;
    padding: 3px;
    border-radius: 10px;
}

.parameter-name{
  padding: 10px;
}

.parameter-type{
    background-color: #ffa0a0;
    padding: 10px;
}

.parameter-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publish-date{
    span{
        font-size: .8rem;
        color: #000000;
    }
}
