---
const { text, style } = Astro.props;
---

<h1 class="animated-text" data-text={text} style={style}>
  {text}
</h1>

<style lang="scss">
  :root {
    --size: 1.2rem;
  }

  .animated-text {
    font-family: var(--font-brand);
    font-size: var(--size);
    font-weight: 900;
    text-transform: uppercase;

    padding: 0px 10px;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;

      clip-path: polygon(
        10px 0%,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
      );
    }
  }

  
</style>

<script>
  const elements = document.querySelectorAll(".animated-text");
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

  elements.forEach((element) => {
    if (!element.dataset.text) {
      element.dataset.text = element.innerText;
    }

    let interval = null;

    element.addEventListener("mouseover", (event) => {
      let iteration = 0;
      const originalText = element.dataset.text;

      clearInterval(interval);

      interval = setInterval(() => {
        element.innerText = originalText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return originalText[index];
            }
            return letters[Math.floor(Math.random() * letters.length)];
          })
          .join("");

        if (iteration >= originalText.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3; 
      }, 30);
    });
  });

  const typingElements = document.querySelectorAll(".animated-typing");
  typingElements.forEach((element) => {
    const el = element as HTMLElement;

    setInterval(() => {
      if (el.innerHTML.endsWith(" _")) {
        el.innerHTML = el.innerHTML.slice(0, -2);
      } else {
        el.innerHTML += " _";
      }
    }, 500);
    
  });

</script>
